/* Global styles. */

h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica neue", "hiragino sans gb", "stheiti", "microsoft yahei", tahoma, sans-serif !important;
}

hr {
  border-top: 2px solid #ccc;
}


/* ReadKey styles. */

#readkey-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.feed-container {
  display: flex;
}

.feed-source-list {
  flex: 0 0 15em;
  height: 100vh;
  overflow-y: auto;
  /* Should not be blocked by the footer. */
  padding-bottom: 38px;
}

.feed-item-list {
  flex: 0 0 19em;
  height: 100vh;
  overflow-y: auto;
  /* Should not be blocked by the footer. */
  padding-bottom: 38px;
}

.feed-source-list, #feed-source-list-footer {
  border-right: 1px solid lightgrey;
}

.feed-source-list, .feed-source-list .list-group-item, .feed-source-list footer {
  background: #EAE7D8;
}

.feed-source-list .list-group-item {
  padding-left: 15%;
}

#feed-source-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 12px;
  bottom: 0px;
  width: 15em;
  height: 38px;
  border-top: 1px solid #DAD6C8;
}

.feed-item-list, .feed-item-list .list-group-item, .feed-item-list footer {
  background: #F9F8F4;
}

#feed-item-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 12px;
  bottom: 0px;
  width: 19em;
  height: 38px;
  border-top: 1px solid #EBEAE9;
}

#feed-item-list-footer-info {
  font-size: 8px;
}

.feed-item {
  flex: 1;
  background: #F8F7F5;
  overflow-y: auto;
  height: 100vh;
}

#feed-title {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 18%;
  margin-right: 18%;
}

#feed-title a {
  /* The whole title is inside the anchor tag. */
  text-decoration: none;
  color: #42413F;
  font-weight: 700;
  font-size: 30px;
}

#feed-item-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0px;
  /* Set dynamically by jQuery. */
  width: 0px;
  height: 38px;
  border-bottom: 1px solid #EBEAE9;
}

#feed-item-mark-read {
  margin-right: 36px;
}

#feed-item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 12px;
  bottom: 0px;
  /* Set dynamically by jQuery. */
  width: 0px;
  height: 38px;
  border-top: 1px solid #EBEAE9;
  background: #F8F7F5;
  opacity: 0.8;
}


/* Handle content styles. */

#feed-content {
  font-size: 15px;
  padding-top: 12px;
  /* Should not be blocked by the footer. */
  padding-bottom: 60px;
  margin-left: 18%;
  margin-right: 18%;
}

#feed-content p, #feed-content img {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

#feed-content img {
  /* TODO: Make images more adaptive. */
  max-width: 100%;
  max-height: 100%;
}

#feed-content h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#feed-content blockquote {
  font-size: 15px;
}

#feed-content p {
  line-height: 170% !important;
}

#feed-content a {
  font-weight: bold !important;
  color: #3F3D3B !important;
  text-decoration: underline !important;
}


/* Customize Bootstrap styles. */

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.borderless .list-group-item {
  border: none;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-special.list-group {
  margin-bottom: 0;
}

.feed-source-list .list-group-item:hover, .feed-source-list .list-group-item.focused {
  background-color: #D4CEBE;
}

.feed-item-list .list-group-item:hover, .feed-item-list .list-group-item.focused {
  background-color: #F0EEE8;
}


/* Responsive. */

@media (max-width: 768px) {
  .feed-container {
    flex-direction: column;
  }
  .feed-source-list, .feed-item-list, .feed-content {
    flex: auto;
  }
  footer {
    display: none;
  }
}